@model mss_project.Models.ChangeAssigneesViewModel

@{
    ViewBag.Title = "Assignees";
}

<h2>Assignees</h2>


<table class="table">
    <tr>
        <th>
            Name
        </th>

        <th></th>
    </tr>

    @for (int i = 0; i < Model.Assignees.Count(); ++i)
    {
        <tr>
            <td>
                @(Model.Assignees[i].Item2)
            </td>

            <td>
                @using (Html.BeginForm("RemoveAssignee", "Tickets", new { ticketID = Model.currentTicket.TicketID, userID = Model.Assignees[i].Item1.Id }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Remove" class="btn btn-primary" />
                    </div>
                }
            </td>
        </tr>
    }

</table>

@using (Html.BeginForm("AddAssignee", "Tickets", new { ticketID = Model.currentTicket.TicketID }))
{
    @Html.AntiForgeryToken()

    <div class="form-group row">
        <div class="col-md-10">

            @Html.DropDownList(
                "userID",
                new SelectList(
                    Model.UnassignedMembers.Select(x => new { Value = x.Item1.Id, Text = x.Item2 }),
                    "Value",
                    "Text"
                ),
                "(Select a member)",
                new { @class = "form-control" }
            )
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Assign member" class="btn btn-primary" />
        </div>
    </div>
}

@Html.ActionLink("Back to Details", "Details", new { id = Model.currentTicket.TicketID })
