@using mss_project.Helpers

@model mss_project.Models.TicketDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.currentTicket.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currentTicket.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currentTicket.Status)
        </dt>

        <dd>
            @EnumHelpers.DisplayName(Model.currentTicket.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currentTicket.Description)
        </dt>

        <dd style="white-space:pre;">@Html.DisplayFor(model => model.currentTicket.Description)</dd>

        <dt>
            @Html.DisplayNameFor(model => model.currentTicket.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorNickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currentTicket.Assignees) @Html.ActionLink("Change", "ChangeAssignees", new { id = Model.currentTicket.TicketID })
        </dt>
        
        <dd>
            @if (Model.AssigneesNickNames.Count > 0)
            {
                foreach (var assigneeNickName in Model.AssigneesNickNames)
                {
                    if (assigneeNickName != null)
                    {
                        @(assigneeNickName)<br />
                    }
                    else
                    {
                        @(assigneeNickName)<br />
                    }

                }
            }
            else
            {
                @("(No members assigned)")
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.currentTicket.TicketID }) |
    @Html.ActionLink("Back to Tickets", "Tickets", "Groups", new { id = Model.currentTicket.GroupID }, new { })
</p>
