@model mss_project.Models.TicketIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @("Title")
        </th>
        <th>
            @("Creator")
        </th>

        <th></th>
    </tr>

@for (int i = 0; i < Model.tickets.Count(); ++i) {
    <tr>
        <td>
            @(Model.tickets[i].Title)
        </td>
        <td>
            @(Model.ticketCreatorNickNames[i])
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.tickets[i].TicketID }) |
            @Html.ActionLink("Details", "Details", new { id = Model.tickets[i].TicketID }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.tickets[i].TicketID })
        </td>
    </tr>
}

</table>
